<h1>All the CitiBike Stations in NYC</h1><br>

<div id="mapId">
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCkxdZWOTffO5_sWkE_D6xa9noADNibaMU&callback=initMap', async: Rails.env.production? %>

</div>
